    body {
        margin: 0;
    }

    .header {
        background-color:#851717;
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 5px 50px 5px;
        font-size: large;
    }

    .header-x a {
        color: white;
        padding: 5px 15px;
        text-decoration: none;
        border: 15px;
    }

    .header-x a:hover {
        background-color: #f89999;
    }

    .landing-pge {
width: 50%;
        position: absolute;
        top: 20px;
        left: 50%;
        right: 500px;
        color: white;
        
    }

    .mkna {
        background-color:#b6916c;
        border:5px #140101;
       width: 100%;
       display: flex;
    }

    .mjk {
     background-color:#b6916c;
        justify-content: space-between;
        align-items: center;
        padding: 10px 5px 50px 5px;
        font-size: large;
    
    
    }
    .klm{
       color: white;
        padding: 20px 50px;
        text-decoration: none;
        border: 15px;   
    }